:root {
  --yellow-main: #fffcf2;
  --bg: #f8f8f8;
  --purple-900: #400799;
  --purple-800: #5509cc;
  --purple-700: #6a0bff;
  --purple-600: #883cff;
  --purple-500: #a66dff;
  --purple-400: #c39dff;
  --purple-300: #d2b6ff;
  --purple-200: #e1ceff;
  --purple-100: #f0e7ff;
  --purple-50: #fdf4ff;
  --red-100: #fdd8e1;
  --red-200: #fbb1c4;
  --red-300: #f98ba6;
  --red-400: #f76489;
  --red-500: #f53d6b;
  --red-600: #f3164e;
  --red-700: #d50b3e;
  --red-800: #af0932;
  --red-900: #880727;
  --red-25: #ffecf5;
  --red-150: #fcc8d6;
  --yellow-900: #ffc234;
  --yellow-800: #ffce5d;
  --yellow-700: #ffda85;
  --yellow-600: #ffe7ae;
  --green-900: #008616;
  --green-800: #239e37;
  --green-700: #46b658;
  --green-600: #69cf7a;
  --green-007: #edf7ef;
  --black-900: #191919;
  --black-800: #303030;
  --black-700: #474747;
  --black-600: #5e5e5e;
  --black-500: #757575;
  --black-400: #8c8c8c;
  --black-300: #a3a3a3;
  --black-200: #bababa;
  --black-100: #d1d1d1;
  --black-50: #e8e8e8;
  --black-25: #f4f4f4;
  --black-10: #f8f8f8;
  --white-900: #fff;
  --text-black: #141414;
  --blue: #0b07e7;
  --white: #fff;
  --brand: #53f;
  --red: #f33;
  --icon-color: #fff;
  --white: #fff;
  --gray: #5b5a5a;
  --violet: #420090;
  --black-2: #181818;
  --black-1: #09090a;
  --black-100: rgba(28, 28, 28, 0.1);
  --primary-light: #f7f9fb;
  --black-50: rgba(28, 28, 28, 0.05);
  --primary-blue: #e3f5ff;
  --secondary-indigo: #95a4fc;
  --secondary-purple: #c6c7f8;
  --primary-purple: #e5ecf6;
  --black-800: rgba(28, 28, 28, 0.8);
  --white-1000: #fff;
  --primary-brand: #1c1c1c;
  --black-1000: #1c1c1c;
  --black-200: rgba(28, 28, 28, 0.2);
  --secondary-cyan: #a8c5da;
  --white-100: rgba(255, 255, 255, 0.1);
  --white-400: rgba(255, 255, 255, 0.4);
}

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Onest", sans-serif;
  --font3: "Cal Sans", sans-serif;
  --font4: "Montserrat", sans-serif;
  --font5: "Lato", sans-serif;
  --font6: "SF Pro Display", sans-serif;
  --font7: "Plus Jakarta Sans", sans-serif;
}
