.textGrey {
  color: var(--black-400);
}

.textWhite {
  color: var(--white-1000);
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.textSmall {
  font-size: 12px;
}

.textNormal {
  font-size: 16px;
}

.textBig {
  font-size: 18px;
}
