.article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.iconChevron {
  transform: rotate(90deg);
}

.aside {
  margin-top: 44px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
