.name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black-700);
}

.wrapper {
  overflow: hidden;
  max-height: 180px;
  padding: 8px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.showAll {
  max-height: 100%;
}

.button {
  font-weight: 400;
  font-size: 14px;
  text-decoration-skip-ink: none;
  color: var(--purple-800);
}

.button:hover {
  text-decoration: underline;
}
